.graph-inspector {
    width: 100%;
    height: 100%;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-inspector > .btn {
    padding: 5px 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.graph-inspector .element-name {
    display: flex;
    align-items: baseline;
}

    .graph-inspector .element-name > .name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #131212aa;
        white-space: nowrap;
    }
    
    .graph-inspector .element-name > i {
        height: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 19px;
        color: #131212aa;
        white-space: nowrap;
    }