.graph-inspector {
    width: 100%;
    height: 100%;
    background: white;

    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
}

    .graph-inspector > .scroller {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
    }

        .graph-inspector > .scroller > .separator {
            width: 100%;
        }

            .graph-inspector > .scroller > .separator > .line {
                width: calc(100% - 30px);
                margin-left: 15px;
                margin-right: 15px;
                border: 1px solid #B3BBC5;
            }
    
        .graph-inspector > .scroller > .selections-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
    
            .graph-inspector > .scroller > .selections-block > .selections {
                width: 100%;
                display: flex;
                gap: 10px;
                padding-left: 5px;
            }
    
            .graph-inspector > .scroller > .selections-block > .circuits {
                width: 100%;
                margin-top: 5px;
            }
    
            .graph-inspector > .scroller > .selections-block > .commands {
                display: flex;
                flex-direction: column;
            }

.graph-inspector > .scroller > .commands {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
        
.graph-inspector .btn {
    padding: 5px 6px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;

    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.graph-inspector .element-name {
    display: flex;
    align-items: baseline;
}

    .graph-inspector .element-name > .name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #131212aa;
        white-space: nowrap;
    }
    
    .graph-inspector .element-name > i {
        height: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 19px;
        color: #131212aa;
        white-space: nowrap;
    }


.graph-inspector .circuit-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: calc(100% - 17px);
    margin-right: 17px;
}

.graph-inspector .circuit-wrapper > .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #131212aa;
    white-space: nowrap;
}

.graph-inspector .circuit-wrapper > .controls {
    display: flex;
}

.graph-inspector .circuit-wrapper > .controls > .icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(3, 2, 41, 0.4);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    outline: none;
    font-family: Nunito;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    color: rgba(3, 2, 41, 0.4);
}

.graph-inspector .circuit-wrapper > .controls > .icon.selected {
    border: 1px solid rgba(141, 2, 3, 0.4);
    color: rgba(141, 2, 3, 0.4);
}

.graph-inspector .circuit-wrapper  > .name > i {
    height: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 19px;
    color: #131212aa;
    white-space: nowrap;
}