.graph-container {
    box-shadow: 0 0 38px rgb(0 0 0 / 40%);
    overflow: hidden;
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
}

    .graph-container .graph {
        /*width: 100%;*/
        /*height: 100%;*/
        /*width: 200px;*/
        /*height: 200px;*/
        pointer-events: none;
    }
        
        .graph-container .graph > .graph-line {
            stroke: rgb(255, 0, 0);
            stroke-width: 1;
        }

        .graph-container .graph > .grid-line {
            stroke: rgb(50, 50, 50);
            stroke-width: 0.1;
        }

        .graph-container .graph > .axis-line {
            stroke: rgb(20, 20, 20);
            stroke-width: 0.2;
        }

        /*.graph-container .graph > .axis-text {*/
        /*    font-family: Nunito;*/
        /*    font-size: 4px;*/
        /*    font-style: normal;*/
        /*    font-weight: 100;*/
        /*    line-height: 4px;*/
        /*    white-space: nowrap;*/
        /*    will-change: transform;*/
        /*}*/
    
    .graph-container > .dial {
        position: absolute;
        top:0;
        left:0;
        display: flex;
        pointer-events: none;
    }

        .graph-container > .dial > .text {
            font-family: Nunito;
            font-size: 8px;
            font-style: normal;
            font-weight: 100;
            line-height: 8px;
            white-space: nowrap;
            position: absolute;
        }
        
        .graph-container > .dial.horizontal-numbers {
            
        }
    
        .graph-container > .dial.vertical-numbers {
            left: 0;
        }
        