<BCHModal @ref="_bchModal"
          Width="600px"
          Height="50%"
          ShowOverlay="false"
          X="@($"{_pos.X.ToString(_nF)}px")"
          Y="@($"{_pos.Y.ToString(_nF)}px")"
          Show="true">
    <div class="chart-wrapper">
        <div id="@_controlPanelId"
             class="control-panel"
             @onextmousedown="OnMouseDown">
            <div class="close-btn" @onclick="CloseGraph"></div>
        </div>
        <div class="graph-wrapper">
            <div class="graph">
                <BCHGraph2D DataArray="_data"
                            CellXValuesCount="2"
                            XLabel='(i => $"{2 * i} ms")'
                            CellYValues="0.1f"
                            YLabel='(i => $"{0.1f * i} A")'/>
            </div>
        </div>
    </div>
</BCHModal>