.equation-system-container {
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

    .equation-system-container > .system-controls {
        flex: 1 1;
        display: flex;
        justify-content: space-between;
    }
        
        .equation-system-container > .system-controls > .status {
            cursor: auto !important;
            color: #a88146;
        }
        
        .equation-system-container > .system-controls > .status.completed {
            color: #2E5BFF;
        }

    .equation-system-container .btn {
        padding: 5px 6px;
        display: flex;
        align-items: center;
        font-family: Nunito;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
    }
    
    .equation-system-container > .control-block > .left > .line {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
        .equation-system-container > .control-block > .left > .line > .text {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #333842;
            white-space: nowrap;
        }
        
        /*.equation-system-container > .line > .value {*/
        /*    flex: 1 1;*/
        /*    height: 34px;*/
        /*    display: flex;*/
        /*    align-items: center;*/
        /*    padding-left: 10px;*/
        
        /*    font-family: 'Nunito';*/
        /*    font-style: normal;*/
        /*    font-weight: 500;*/
        /*    font-size: 14px;*/
        /*    line-height: 25px;*/
        /*    color: #333842;*/
        /*    white-space: nowrap;*/
        /*}*/
        
        .equation-system-container > .control-block > .left > .line > .input-wrapper {
            height: 24px;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid #CED3E0;
            box-sizing: border-box;
            border-radius: 15px;
            display: flex;
            align-items: center;
            margin-left: 10px;
        }

.equation-system-container > .control-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

    .equation-system-container > .control-block > .left {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 224px;
        gap: 2px;
    }

    .equation-system-container > .control-block > .right {
        display: flex;
    }