
<div class="navigation-cnt">

    <div class="control-block">
        <div class="icon min"
             @onmousedown="async () => { await OnZoomDownAsync(-0.01f); }"
             @onmouseup="OnZoomUp"
             @onmouseout="OnZoomUp">
            <div class="noselectable-text">-</div>
        </div>
        <div class="icon mag"
             @onmousedown="async () => { await OnZoomDownAsync(0.01f); }"
             @onmouseup="OnZoomUp"
             @onmouseout="OnZoomUp">
            <div class="noselectable-text">+</div>
        </div>
    </div>

    <div class="scroll-cnt scroll" @onextscroll="OnScroll">

        <div class="scroller"
             style="@(
                $"transform: scale({_scaleAccumulator.ToString(_numberFormatWithDot)});" +
                $"transform-origin: {_vec2.X.ToString(_numberFormatWithDot)}px {_vec2.Y.ToString(_numberFormatWithDot)}px;"
             )">

            @for (int i = 0; i < 3000 / 30 + 5; i++)
            {
                <div class="horizontal-delimiter"
                 style="@($"top: calc(30px * ({i - 5}));")">
                </div>

                <div class="vertical-delimiter"
                 style="@($"left: calc(30px * ({i - 5}));")">
                </div>
            }
        </div>

    </div>
</div>

