.scheme-renderer-container {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    
    width: 3000px;
    height: 3000px;
}

    .scheme-renderer-container > .scheme-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-image: repeating-linear-gradient(rgba(3, 2, 41, 0.1) 0 0.5px, transparent 0.5px 100%), 
        repeating-linear-gradient(90deg, rgba(3, 2, 41, 0.1) 0 0.5px, transparent 0.5px 100%);

        background-position: 1.75px 1.75px;
    }
    
        .scheme-renderer-container > .scheme-content > .wire-pointer {
            width: 20px;
            height: 20px;
            background: radial-gradient(circle at center, #CED3E0aa 1%, #00000000 100%);
            border-radius: 20px;
            position: absolute;
            transition: all 0.095s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            z-index: 1100;
        }

            .scheme-renderer-container > .scheme-content > .wire-pointer.first {
                transition: none;
            }

            .scheme-renderer-container > .scheme-content > .wire-pointer > .center {
                width: 5px;
                height: 5px;
                border-radius: 2.5px;
                background: #CED3E0;
            }
