@page "/"
@using Circuits.ViewModels.Entities.Elements

<div class="main-page-cnt">
    <div class="navigation">
        <NavigationPlaneComponent>
        
            <ControlTemplate>
                <div @onclick="OnPenClicked" class="control-icon pen @(_context.PencilMode ? "activated" : "")"></div>
            </ControlTemplate>
        
            <ContentTemplate Context="_navCtx">
        
                <SchemeRendererComponent
                    SchemeRendererContext="_context"
                    Scale="_navCtx.Scale">
                    
                    <ElementComponent Key="typeof(Wire)">
                        <Template Context="element">
                            <WireComponent Wire="(Wire) element"/>
                        </Template>
                    </ElementComponent>
                    
                    <ElementComponent Key="typeof(Resistor)">
                        <Template Context="element">
                            <ResistorComponent Resistor="(Resistor) element"/>
                        </Template>
                    </ElementComponent>
                    
                </SchemeRendererComponent>
        
            </ContentTemplate>
        
        </NavigationPlaneComponent>
    </div>
</div>