@using Circuits.Services.Extensions

<div class="equation-inspector">

    <div class="btn noselectable-text"
         @onclick="OnBuildEquationSystems">
        Build Equation Systems
    </div>

    <div class="btn noselectable-text"
         @onclick="OnPerformKirchhoffElimination">
        Perform Kirchhoff Elimination
    </div>

    <div class="btn noselectable-text"
         @onclick="OnClear">
        Clear
    </div>

    @foreach (var equationSystem in _equationSystems)
    {
        <div class="equation-system-container">
            <GraphEquationSystemComponent EquationSystem="equationSystem"/>
        </div>
    }
</div>