.graph-equation-system-component {
    width: 100%;
    overflow: auto;
}
    
    .graph-equation-system-component > table {
        width: fit-content;
        border-collapse: separate;
        border-spacing: 8px 0;
    }
    
    .graph-equation-system-component > table > thead > tr > th {
        font-family: Nunito;
        font-weight: 400;
        font-size: 11px;
        text-align: center;
    }
    
    .graph-equation-system-component > table > tbody > tr > td {
        font-family: Nunito;
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        white-space: nowrap;
    }