@using Circuits.Services.Extensions
<div class="graph-equation-system-component">
    <table>
        <thead>
        <tr>
            @foreach (var variable in EquationSystem.Variables)
            {
                <th class="noselectable-text">@((MarkupString)variable.GetLabel())</th>
            }
        </tr>
        </thead>

        <tbody>
        @foreach (var equation in EquationSystem.Matrix)
        {
            <tr>
                @for (var i = 0; i < equation.Length - 1; i++)
                {
                    var expression = equation[i];

                    <td class="noselectable-text"
                        style="@($"width: {(50d / EquationSystem.Matrix.Length).ToString(_nF)}%;")">
                        @((MarkupString)expression.GetLabel())
                    </td>
                }

                @{
                    var resExpression = equation[^1];
                }

                <td class="noselectable-text"
                    style="width: 50%">
                    @((MarkupString)resExpression.GetLabel())
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<style>
        .graph-equation-system-component > table > thead > tr > th i {
            height: 10px;
            font-family: Nunito;
            font-style: normal;
            font-weight: 400;
            font-size: 9px;
            line-height: 19px;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /*Internet Explorer/Edge */
            user-select: none; /*Non-prefixed version, currently
                                          supported by Chrome, Edge, Opera and Firefox */
        }
    
        .graph-equation-system-component > table > thead > tr > th sub-i {
            height: 8px;
            font-family: Nunito;
            font-style: normal;
            font-weight: 400;
            font-size: 7px;
            line-height: 19px;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /*Internet Explorer/Edge */
            user-select: none; /*Non-prefixed version, currently
                                              supported by Chrome, Edge, Opera and Firefox */
        }
            
        .graph-equation-system-component > table > tbody > tr > td i {
            height: 10px;
            font-family: Nunito;
            font-style: normal;
            font-weight: 400;
            font-size: 9px;
            line-height: 19px;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /*Internet Explorer/Edge */
            user-select: none; /*Non-prefixed version, currently
                                          supported by Chrome, Edge, Opera and Firefox */
        }
        
        .graph-equation-system-component > table > tbody > tr > td sub-i {
            height: 8px;
            font-family: Nunito;
            font-style: normal;
            font-weight: 400;
            font-size: 7px;
            line-height: 19px;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /*Internet Explorer/Edge */
            user-select: none; /*Non-prefixed version, currently
                                              supported by Chrome, Edge, Opera and Firefox */
        }
</style>