.graph-equation-system-component > table {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.graph-equation-system-component > table > thead > tr > th {
    font-family: Nunito;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.graph-equation-system-component > table > tbody > tr > td {
    font-family: Nunito;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
}