@using Circuits.Services.Extensions
<div class="graph-equation-system-component">
    <table>
        <thead>
        <tr>
            @foreach (var variable in EquationSystem.Variables)
            {
                <th class="noselectable-text">@variable.GetLabel()</th>
            }
        </tr>
        </thead>

        <tbody>
        @foreach (var equation in EquationSystem.Matrix)
        {
            <tr>
                @foreach (var expression in equation)
                {
                    <td
                        class="noselectable-text"
                        style="@($"width: {(100d / EquationSystem.Matrix.Length).ToString(_nF)}px;")">
                        @expression.GetLabel()
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>