.capacitor {
    position: absolute;
    z-index: 80;
    height: 4px !important;
}

.capacitor.disabled {
    pointer-events: none;
}

.capacitor.dragged {
    z-index: 1000;
}

.capacitor.dragging {
    opacity: 0.3;
}

.capacitor > .capacitor-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: row;
}

.capacitor > .capacitor-content > .circle {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #CED3E0;
    box-shadow: 0px 0px 7px 1px #CED3E000;
    z-index: 100;
}

.capacitor > .capacitor-content > .block {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 7px 1px #CED3E000;
    display: flex;
    justify-content: space-between;
    /*background: white;*/
}

.capacitor > .capacitor-content > .block > .delimiter {
    background: #abadbb;
}

.capacitor:hover > .capacitor-content > .block > .delimiter {
    box-shadow: 0px 0px 7px 1px #CED3E0;
}

.capacitor > .capacitor-content > .block {
    width: 10px;
    height: 24px;
}

.capacitor > .capacitor-content > .block > .delimiter {
    height: 100%;
    width: 3px;
}

.capacitor > .capacitor-content {
    background: linear-gradient(to right, #abadbb 0, #abadbb 42%, #00000000 42%, #00000000 58%, #abadbb 58%, #abadbb 100%);
}

.capacitor.selected > .capacitor-content {
    background: linear-gradient(to right, #e5a4aa 0, #e5a4aa 42%, #00000000 42%, #00000000 58%, #e5a4aa 58%, #e5a4aa 100%);
    z-index: 90;
}

.capacitor.highlighted > .capacitor-content {
    background: linear-gradient(to right, #a4e5aa 0, #a4e5aa 42%, #00000000 42%, #00000000 58%, #a4e5aa 58%, #a4e5aa 100%);
    z-index: 90;
}

.capacitor.selected  > .capacitor-content > .block > .delimiter {
    box-shadow: 0px 0px 7px 1px #e5a4aa;
    background: #e5a4aa;
    z-index: 90;
}

.capacitor.highlighted  > .capacitor-content > .block > .delimiter {
    box-shadow: 0px 0px 7px 1px #a4e5aa;
    background: #a4e5aa;
    z-index: 90;
}

.capacitor:hover > .capacitor-content > .circle {
    box-shadow: 0px 0px 7px 1px #CED3E0;
}

.capacitor.selected > .capacitor-content > .circle {
    box-shadow: 0px 0px 7px 1px #e5a4aa;
    background: #e8c5c9;
    z-index: 110;
}

.capacitor.highlighted > .capacitor-content > .circle {
    box-shadow: 0px 0px 7px 1px #a4e5aa;
    background: #c5e8c9;
    z-index: 110;
}

.capacitor > .capacitor-content > .circle:nth-child(1) {
    margin-left: -4px;
}

.capacitor > .capacitor-content > .circle:nth-child(2) {
    margin-right: -4px;
}