<div class="storage scroll">
    <div class="scroller">
        <div class="commands">
            <ControlButtonComponent Label="Save" OnClick="OnSaveClickedAsync"/>
            <ControlButtonComponent Label="Restore" OnClick="OnRestoreClickedAsync"/>
        </div>

        <div class="separator">
            <div class="line"></div>
        </div>
    </div>
</div>