<div class="storage scroll">
    <div class="scroller">
        <div class="commands">
            <div
                class="btn noselectable-text"
                @onclick="OnSaveClickedAsync">
                Save
            </div>

            <div class="btn noselectable-text"
                 @onclick="OnRestoreClickedAsync">
                Rrestore
            </div>
        </div>

        <div class="separator">
            <div class="line"></div>
        </div>
    </div>
</div>