<div class="element-details @GetTypeClass()">
    
    @foreach (var circuitDir in _circuitDirections)
    {
        <div class="@($"arrow circuit {(circuitDir.Reversed ? "reverse" : "")}")"></div>
    }
    
</div>