@using Circuits.ViewModels.Entities.Elements
<div class="graph-inspector">

    @if (_elementService.Elements.Count > 0)
    {
        <BCHSelect TItem="Element"
                   Options="@_elementService.Elements"
                   Height="300"
                   Filtering="false"
                   Grouping="true"
                   MultipleSelect="true"
                   ElementNamePredicate="x => x.GetType().Name.ToLower()"
                   GroupPredicate='x => x.GetType().Name'
                   GroupNamePredicate='x => $"{x.GetType().Name}s"' 
                   SelectedItemsChanged="OnSelectElements"/>
    }
    
</div>