<div class="graph-inspector">

    <BCHSelect TItem="string"
               Options="_items"
               Height="300"
               Filtering="false"
               Grouping="true"
               MultipleSelect="true"
               ElementNamePredicate="x => x"
               GroupPredicate='x => x.Contains("s")'
               GroupNamePredicate='x => x.Contains("s") ? "Even" : "Odd"'
               @bind-SelectedItems="_selectedItems" />

</div>