<div
    class="scheme-inspector noselectable-text @(Opened ? "show" : "")"
    style="@($"width: {_blockWidth}px; margin-left: {-_blockWidth}px;")">
    
    <div class="content-container">

        <BCHTabs TItem="TabModel"
                 Items="_tabModels"
                 ShowCloseOnDefaultTab="false"
                 DefaultTabText="x => x.Name"
                 TabWidthPredicate="x => x.Width">

            <ContentTemplate Context="item">
                @switch (item.Name)
                {
                    case "Graph Inspector":
                        <GraphInspectorComponent/>
                        break;

                    case "Equations Inspector":
                        <EquationsInspectorComponent/>
                        break;

                    case "Solver Inspector":
                        <SolverInspectorComponent/>
                        break;

                    case "Storage":
                        <StorageComponent/>
                        break;
                }
            </ContentTemplate>

        </BCHTabs>

    </div>

    <div class="resize-block" @onmousedown="OnMouseDownAsync"></div>
</div>