<div
    class="scheme-inspector noselectable-text @(Opened ? "show" : "")"
    style="@($"width: {_blockWidth}px; left: {-_blockWidth}px;")">
    <div class="content-container">
        <BCHTabContext TabContext="_context">
            <div class="content-holder">
                <div class="tabs">
                    <BCHTabPanel TabContext="_context"
                                 PanelId="0"
                                 MinimalTabsCount="1"
                                 ScrollTabWidth="150"
                                 SelectOnDragAndDrop="true"
                                 ScrollToCenterOnClick="true"/>
                </div>
                <div class="content">
                    <BCHTabContent TabContext="_context"
                                   PanelId="0">
                        <Template Context="selectedTab">
                            @switch (selectedTab.Type)
                            {
                                case "graph-inspector":
                                    <GraphInspectorComponent/>
                                    break;

                                case "equations-inspector":
                                    <EquationsInspectorComponent/>
                                    break;
                            }
                        </Template>
                    </BCHTabContent>
                </div>
            </div>
        </BCHTabContext>
    </div>

    <div class="resize-block" @onmousedown="OnMouseDownAsync"></div>
</div>