
.diode {
    position: absolute;
    z-index: 80;
}

.diode.disabled {
    pointer-events: none;
}

.diode.dragged {
    z-index: 1000;
}

.diode.dragging {
    opacity: 0.3;
}

.diode > .diode-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.diode > .diode-content > .circle {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #CED3E0;
    box-shadow: 0px 0px 7px 1px #CED3E000;
    z-index: 100;
}

.diode > .diode-content > .block {
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%, -50%) scaleY(0.923);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 7px 1px #CED3E000;
    display: flex;
    justify-content: space-between;
    align-items: center;


    border-right: 3px solid #abadbb;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

    .diode > .diode-content > .block::before {
        content: "";
        position: absolute;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        border-left: 3px solid #abadbb;
        border-top: 3px solid #abadbb;
        border-bottom: 3px solid transparent;
        border-right: 3px solid transparent;
        transform: rotate(-45deg) skew(10deg,10deg);
        right: -15px;
        bottom: -3px;
    }

    .diode.selected  > .diode-content > .block {
        border-right-color: #e5a4aa;
    }

        .diode.selected  > .diode-content > .block::before {
            border-left: 3px solid #e5a4aa;
            border-top: 3px solid #e5a4aa;
        }

    .diode.highlighted  > .diode-content > .block {
        border-right-color: #a4e5aa;
    }
        
        .diode.highlighted  > .diode-content > .block::before {
            border-left: 3px solid #a4e5aa;
            border-top: 3px solid #a4e5aa;
        }

    .diode > .diode-content > .block > .delimiter {
        position: absolute;
        left: 1px;
        height: 24px;
        width: 3px;
        background: #abadbb;
    }

    .diode:hover > .d   iode-content > .block > .delimiter {
        box-shadow: 0px 0px 7px 1px #CED3E0;
    }
    
    .diode.selected  > .diode-content > .block > .delimiter {
        box-shadow: 0px 0px 7px 1px #e5a4aa;
        background: #e5a4aa;
        z-index: 90;
    }
    
    .diode.highlighted  > .diode-content > .block > .delimiter {
        box-shadow: 0px 0px 7px 1px #a4e5aa;
        background: #a4e5aa;
        z-index: 90;
    }

.diode > .diode-content {
    background: linear-gradient(to right, #abadbb 0, #abadbb 34%, #00000000 34%, #00000000 66%, #abadbb 66%, #abadbb 100%);
}

.diode.selected > .diode-content {
    background: linear-gradient(to right, #e5a4aa 0, #e5a4aa 34%, #00000000 34%, #00000000 66%, #e5a4aa 66%, #e5a4aa 100%);
    z-index: 90;
}

.diode.highlighted > .diode-content {
    background: linear-gradient(to right, #a4e5aa 0, #a4e5aa 34%, #00000000 34%, #00000000 66%, #a4e5aa 66%, #a4e5aa 100%);
    z-index: 90;
}

.diode:hover > .diode-content > .circle {
    box-shadow: 0px 0px 7px 1px #CED3E0;
}

.diode.selected > .diode-content > .circle {
    box-shadow: 0px 0px 7px 1px #e5a4aa;
    background: #e8c5c9;
    z-index: 210;
}

.diode.highlighted > .diode-content > .circle {
    box-shadow: 0px 0px 7px 1px #a4e5aa;
    background: #c5e8c9;
    z-index: 210;
}

.diode {
    height: 4px !important;
    transform: translateX(2px);
}

.diode > .diode-content {
    flex-direction: row;
}

.diode > .diode-content > .circle:nth-child(1) {
    margin-left: -4px;
}

.diode > .diode-content > .circle:nth-child(2) {
    margin-right: -4px;
}
